* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #76a463;
}

body {
    width: 100%;
    height: 100vh;

}
.justify{
    display: grid;
    grid-template-columns: 15% 80% 5%;
    grid-template-rows: 33% 20% 46%;
}
.logo1{
    font-size: 25px;
    margin-top: 57%;
    margin-left: 70% ;
}
.logo2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 25px;
    margin-top: 16.5% ;
    margin-left: 75%;
}

.container{
    display: grid;
    grid-template-rows: 9% 5% 9% 5% 10% 7% 10% 8% 6% 9% 9%;
    grid-column-start: 2;
    grid-column-end: 3;
   margin-top: 10%;
    height: 500px;
}

.name{
    display: grid;
    grid-template-columns: 50% 50%;
}
.inputName{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.inputName input{
    background-color: white;
    padding: 15px;
    width: 70%;
    height: 50%;
    justify-self: start;
    align-self: start;  
}
.inputStreet input{
    background-color: white;
    padding: 15px;
    height: 40%;
    width: 85%;
}
.address{
    display: grid;
    grid-template-columns: 19% 15% 19% 15% 19% 10%;
}
.inputAddress{
    display: grid;
    grid-template-columns:  19% 15% 19% 15% 17% 12%; 
}
.Zip {
    grid-column-start: 5;
    grid-column-end: 6;
}

.City{
    grid-column-start: 1;
    grid-column-end: 2;
}
.State{
    grid-column-start: 3;
    grid-column-end: 4;
}
.cityAddress{
    grid-column-start: 1;
    grid-column-end: 2;
}
.stateAddress{
    grid-column-start: 3;
    grid-column-end: 4;
}
.zipAddress{
    grid-column-start: 5;
    grid-column-end: 6;
}
.City input, .State input, .Zip input{
    background-color: white;
    width: 100%;
    padding: 6px;
}
.paymentOption select{
    background-color: white;
    width: 85%;
    padding: 6px;
}
.button{
    display: grid;
    grid-template-columns: 70% 15% 15%;
}
.button button{
    background-color: black;
    color: white;
    padding: 6px;
    
}
.backCart{
    justify-self: end;
}
.purchase{
   justify-self: end;
}