* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  height: 100vh;
  width: 100%;
  background: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #12151e;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: sticky;
  z-index: 111111;
  top: 0;
  left: 0;
  color: white;
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

nav .user-info {
  float: right;
  padding-right: 80px;
  text-align: center;
}

nav .user-info img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

nav .choose-list {
  float: right;
  position: absolute;
  top: 25px;
  right: 100px;
}

nav .choose-list .choose-nav {
  display: flex;
  justify-content: space-between;
}

nav .choose-list .choose-nav li {
  list-style: none;
  padding-left: 30px;
}

nav .choose-list .choose-nav a {
  text-decoration: none;
  color: black;
}
nav .choose-list .choose-nav li:hover a {
  color: #088178;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

span.logo-name {
  color: white;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 280px;
  padding: 20px 0;
  background-color: #12151e;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  z-index: 1000;
  color: white;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #0f1015;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #6c7293;
}
.nav-link .link {
  font-size: 16px;
  color: #6c7293;

  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.lists .active {
  background-color: #0f1015;
  color: #fff;
}

.lists .active .icon,
.lists .active .link {
  color: #fff;
}

main .chart-place {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main .chart-place div {
  background-color: #12151e;
}

main .cards {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  margin-bottom: 100px;
}

main .cards .card-single {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  height: 120px;
  background-color: #12151e;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
  border: 2px solid #6c7293;
  transition: all 0.4s ease-in-out;
}

main .cards .card-single div h1 {
  color: white;
}

main .cards .card-single div span {
  color: #6c7293;
}

main .cards .card-single:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
  transform: scale(1.03);
}

main .cards .card-single .fas {
  font-size: 40px;
}

main .order-status,
main .feedback-place {
  width: 100%;
  margin: 50px auto;
  padding-bottom: 30px;
  background-color: #12151e;
}

main .order-status h1,
main .feedback-place h1 {
  padding-top: 30px;
} 

main table {
  width: 95%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

main table img {
  width: 100px;
  height: 100px;
}

main table thead {
  border-bottom: 1px solid #6c72937f;
  color: #6c7293;
}

main table tbody {
  border-bottom: 1px solid #6c72937f;
  color: #6c7293;
  padding: 5px 0;
}

main table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding: 18px 0;
  text-align: justify;
  width: calc(100% / 6);
}

main table img {
  width: 100px;
  height: 100px;
}
main table tbody tr td {
  font-size: 16px;
  padding: 18px 0;
  text-align: justify;
  width: calc(100% / 6);
  font-weight: 700;
}

main table tbody tr td .approve {
  text-align: center;
  width: 120px;
  height: 40px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

main table tbody tr td .not-approve {
  text-align: center;
  width: 120px;
  height: 40px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

main table tbody tr {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #6c72937f;
  padding: 5px 0;
}

main .feedback-place table tbody tr td {
  font-size: 16px;
  padding: 18px 0;
  text-align: justify;
  width: calc(100% / 5);
  font-weight: 700;
}
