* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

header {
  background-color: #76a463;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  left: 0;
  top: 0;
  height: 100px;
  z-index: 2;
}

header .header__logo img {
  margin-top: 20px;
  height: 100px;
}
header .nav p {
  font-size: 20px;
  font-weight: 500;
}

header .header__search-bar {
  width: 40%;
  position: relative;
}

header .header__search-bar input {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 10px;
  border: none;
}

header .header__search-bar .nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

header .header__search-bar .nav p:hover a {
  color: #feffde;
}

header .header__search-bar .fas {
  position: absolute;
  top: 12px;
  right: 10px;
}

header .header__icon {
  width: 25%;
}

header .header__icon ul li {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .header__icon ul li h3 {
  padding-top: 5px;
}

header .header__icon ul {
  display: flex;
  justify-content: space-around;
}

header .header__icon ul li .header__icon_circle {
  width: 50px;
  height: 50px;
  background-color: #54b435;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

header .header__icon ul li .shopping-bag,
header .header__icon ul li .noti {
  position: relative;
}

header .header__icon ul li .shopping-bag::before,
header .header__icon ul li .noti::before {
  position: absolute;
  content: attr(current-count);
  top: 0;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #feffde;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

header .header__icon ul li .fas {
  font-size: 20px;
  position: absolute;
  top: 13px;
  left: 16px;
}

header .header__icon ul li .header__icon_circle:hover {
  background-color: #82cd47;
}

header #mobile {
  display: none;
}

/* end header  */

/* main start  */

main {
  margin-top: 30px;
}

.header__icon-mobile {
  display: none;
}

main .main__container .main__shop-mobile {
  display: none;
}
main .main__container {
  width: 90%;
  margin: 0 auto;
}

main .main__container .main__container_sort {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 50px;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
}

main .main__container .main__container_sort .sort-option {
  margin-left: 30px;
  width: 200px;
  padding: 7px 5px;
  border: 1px solid black;
  position: relative;
}

main .main__container .main__container_sort .sort-option p {
  font-size: 18px;
}

main .main__container .main__container_sort .options {
  margin-left: 30px;
  width: 30vw;
  position: absolute;
  top: 0;
  border: none;
  width: 200px;
  right: -0.5px;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
  transition: all 0.1s ease-out;
  font-size: 17px;
  z-index: 999;
  font-size: 18px;
}

main .main__container .main__container_sort ul li {
  border: 1px solid black;
  clear: both;
  padding: 7px 0;
  padding-left: 10px;
  background-color: #f5f5f5;
  border-top: none;
  transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
  margin-top: -10px;
}

main .main__container .main__container_sort .sort-option:hover .options {
  transform: translatey(36px);
  opacity: 1;
  visibility: visible;
}

main .main__container .main__container_sort .sort-option:hover .options li {
  margin-top: 0;
  opacity: 1;
}

main .main__container .main__container_sort .sort-option p {
  position: relative;
}

main .main__container .main__container_sort .sort-option .fas {
  position: absolute;
  right: 0;
  bottom: 5px;
}

main .main__container .main__container_sort .sort-option:hover .options {
  display: block;
}

main .main__container .main__container_sort ul li:hover a {
  color: green;
  font-weight: bold;
}

main .main__container .column {
  width: 100%;
  height: 150px;
  background: white;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
}

main .main__container .column:hover {
  border: 2px solid #54b435;
  transform: scale(1.03);
}

main .main__container .column .item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main__container .column .item .shop-left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

main .main__container .column .item .shop-left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

main .main__container .column .item .shop-left span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}

main .main__container .column .item .shop-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
  margin-right: 20px;
}

main .main__container .column .item .shop-right .product-section {
  border-left: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 25%;
}

main .main__container .column .item .shop-right button {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #54b435;
  cursor: pointer;
  transition: ease-out 0.8s;
  border-radius: 5px;
  width: 150px;
  padding: 8px;
}

main .main__container .column .item .shop-right button:hover {
  background-color: #82cd47;
}

main .main__container .column .item .shop-right p {
  padding-top: 15px;
  font-size: 18px;
}

/* end start  */


.listPage {
  padding: 10px;
  text-align: center;
  list-style: none;
  margin-top: 30px;
}

.listPage li {
  color: black;
  padding: 15px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.listPage .active {
  background-color: #54b435;
  color: black;
}

@media screen and (max-width: 767px) {
  header #mobile {
    display: block;
    width: 10%;
    text-align: center;
  }

  header .header__search-bar {
    width: 60%;
    height: 50%;
    position: relative;
    margin: 0;
  }

  header .header__search-bar .nav {
    padding-top: 5px;
  }

  header .header__search-bar .nav a {
    /* display: none; */
    font-size: 12px;
  }

  header .header__search-bar input {
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
  }

  header .header__icon {
    height: 100vh;
    background-color: #76a463;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
  }

  header .header__icon ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  header .header__logo {
    width: 20%;
  }

  header .header__logo img {
    width: 100%;
  }

  header .header__icon ul a {
    width: 100%;
  }

  header .header__icon ul li {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  header .header__icon ul li .fas {
    font-size: 24px;
  }

  header .header__icon ul li .header__icon_circle {
    background-color: #76a463;
    border-radius: 0%;
    display: flex;
  }

  header .header__icon ul li h3 {
    padding-top: 0;
  }

  header .header__icon ul li .noti::before {
    position: absolute;
    content: "";
    top: 20px;
    right: -110px;
    width: 10px;
    height: 10px;
    background-color: #feffde;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 1000;
  }

  header .header__icon ul li .shopping-bag::before {
    position: absolute;
    content: "";
    top: 20px;
    right: -135px;
    width: 10px;
    height: 10px;
    background-color: #feffde;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 1000;
  }

  .header__icon-mobile {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    background-color: #f5f5f5;
    z-index: 3;
    display: block;
  }

  .header__icon-mobile.open {
    right: 0;
  }

  .header__icon-mobile .close-sidebar {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    z-index: 1000;
  }

  .header__icon-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .header__icon-mobile ul a {
    width: 100%;
  }

  .header__icon-mobile ul a {
    width: 100%;
  }

  .header__icon-mobile ul li {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
  }

  .header__icon-mobile ul li .fas {
    font-size: 24px;
    margin-right: 20px;
  }

  .header__icon-mobile ul li .header__icon_circle {
    border-radius: 0%;
    display: flex;
    background-color: #f5f5f5;
  }

  .header__icon-mobile ul li h3 {
    padding-top: 0;
  }

  .header__icon-mobile ul li .noti::before {
    position: absolute;
    content: "";
    top: 20px;
    right: -110px;
    width: 10px;
    height: 10px;
    background-color: #feffde;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 1000;
  }

  .header__icon-mobile ul li .shopping-bag::before {
    position: absolute;
    content: "";
    top: 20px;
    right: -135px;
    width: 10px;
    height: 10px;
    background-color: #feffde;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 1000;
  }

  main .main__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  main .main__container .main__shop-mobile {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  main .main__shop-mobile .item {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    margin-top: 20px;
  }

  main .main__shop-mobile .item .shop-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main .main__shop-mobile .item .shop-left .shop-info {
    display: flex;
    align-items: center;
  }

  main .main__shop-mobile .item .shop-left .shop-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  main .main__shop-mobile .item .shop-left button {
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #54b435;
    cursor: pointer;
    transition: ease-out 0.8s;
    border-radius: 5px;
    width: 100px;
    padding: 8px;
    height: 35px;
  }

  main .main__shop-mobile .item .shop-left .shop-info span {
    margin-left: 10px;
  }

  main .main__shop-mobile .item .shop-right {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin-top: 20px;
  }

  main .main__container .shop-list {
    display: none;
  }

  main .main__container .main__container_sort {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    margin: 10px 0;
  }

  main .main__container .main__container_sort .sort-option {
    margin-left: 30px;
    width: 150px;
    padding: 7px 5px;
    border: 1px solid black;
    position: relative;
  }

  main .main__container .main__container_sort .sort-option p {
    font-size: 16px;
  }

  main .main__container .main__container_sort .options {
    width: 30vw;
    position: absolute;
    top: -2.5px;
    border: none;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    /* display: none; */
    transition: all 0.1s ease-out;
    z-index: 999;
    font-size: 14px;
  }
}
footer .left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
footer .image-footer-wrapper img {
  width: 20px;
  height: 15px;
}
footer .payment-method-logo {
  display: flex;
}
footer {
  background-color: #feffde;

  display: flex;
}
footer .right-footer {
  flex: 1;
  margin-right: 10%;
}
footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
footer .footer-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 2%;
  margin-bottom: 1%;
}
footer .footer-details p {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}