* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(244, 244, 244);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #76a463;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    position: sticky;
    z-index: 111111;
    top: 0;
    color: black;
}
nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

nav .user-info {
    float: right;
    padding-right: 80px;
    text-align: center;
}

nav .user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

nav .choose-list {
    float: right;
    position: absolute;
    top: 25px;
    right: 100px;
}

nav .choose-list .choose-nav {
    display: flex;
    justify-content: space-between;
}

nav .choose-list .choose-nav li {
    list-style: none;
    padding-left: 30px;
}

nav .choose-list .choose-nav a {
    text-decoration: none;
    color: black;
}
nav .choose-list .choose-nav li:hover a {
    color: #088178;
}

.logo .menu-icon {
    color: black;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}
.logo .logo-name {
    color: black;
    font-size: 22px;
    font-weight: 500;
}

span.logo-name {
    color: black;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 280px;
    padding: 20px 0;
    background-color: #f5f5f5;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 1000;
    width: 300px;
    color: black;
}
nav.open .sidebar {
    left: 0;
}
.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
}
.sidebar-content .list {
    list-style: none;
}
.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}
.lists .nav-link:hover {
    background-color: #76a463;
}
.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: black;
}
.nav-link .link {
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: black;
}
.lists .active {
    background-color: #76a463;
    color: black;
}

.lists .active .icon,
.lists .active .link {
    color: black;
}

main {
    width: 100%;
}

main h1 {
    margin: 40px auto;
    color: black;
    width: 90%;
    margin-top: 50px;
}

main .main__shop-info,
main .main__product-info {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

main .main__product-info .left-column {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .main__product-info .left-column .voucher {
    width: 100%;
    height: 428px;
    background: white;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

main .main__picture-profile {
    width: 100%;
    background: white;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

main .main__picture-profile .title,
main .main__product-info .left-column .voucher .title,
main .main__shop-profile .title,
main .main__product-profile .title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.232);
    text-align: center;
}
main .main__picture-profile .title p,
main .main__product-info .left-column .voucher .title p,
main .main__shop-profile .title p,
main .main__product-profile .title p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

main .main__picture-profile .image-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

main .main__picture-profile .image-place img {
    height: 250px;
    width: 250px;
}





main .main__picture-profile .image-place label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    font-size: 14px;
}

main .main__picture-profile .image-place .imgContainer{
    position: relative;
    cursor: pointer;
}

main .main__picture-profile .image-place .imgContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

main .main__picture-profile .image-place .imgContainer .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
}



main .main__picture-profile .button label:hover {
    background-color: #82cd47;
}

main .main__shop-profile {
    width: 60%;
    height: 350px;
    background-color: white;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
}

main .main__product-profile {
    width: 50%;
    background-color: white;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

main .main__shop-profile .input-place,
main .main__product-profile .input-place,
main .main__product-info .left-column .voucher .input-place {
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
}

main .main__shop-profile .input-place .input-row,
main .main__product-profile .input-place .input-row,
main .main__product-info .left-column .voucher .input-row {
    position: relative;
    margin: 20px;
}

main .main__product-info .left-column .voucher .input-row:first-child {
    display: flex;
    gap: 10px;
}

main .main__product-info .left-column .voucher .input-row:first-child button {
    width: 180px;
    background: #54b435;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

main .voucher .input-place .input-row.radio {
    display: flex;
    align-items: center;
    gap: 5px;
}

#none{
    margin-left: 30px;
}

main .main__shop-profile .input-place input[type="text"],
main .main__product-profile .input-place input,
main .main__product-profile .input-place select,
main .voucher .input-place select,
main .main__product-info .left-column .voucher .input-place input[type="text"],
main .main__product-info .left-column .voucher .input-place input[type="number"]{
    width: 100%;
    height: 40px;
    padding: 15px;
    outline: none;
    font-size: 17px;
    border: 1px solid #6c7293;
    color: black;
}




main .main__product-info .input-place p {
    text-align: left;
    margin-bottom: 5px;
}

main .main__product-profile .input-place select {
    padding: 0 10px;
}

main .voucher .input-place select {
    padding: 0 15px;
}

main .main__product-profile .input-place textarea {
    outline: none;
    border: 1px solid #6c7293;
    color: black;
    padding: 10px 8px;
    font-size: 16px;
}

main .main__product-profile .input-place textarea:focus {
    border: 1px solid black;
}

main .main__shop-profile .input-place label,
main .main__product-profile .input-place label,
main .main__product-info .left-column .voucher .input-place label {
    position: absolute;
    bottom: 10px;
    left: 8px;
    color: black;
    pointer-events: none;
    transition: all 0.3s ease;
}

main .main__shop-profile .input-place .input-row input:focus,
main .main__shop-profile .input-place .input-row input:valid,
main .main__product-profile .input-place .input-row input:focus,
main .main__product-info .left-column .voucher .input-row input:focus,
main .main__product-profile .input-place .input-row input:valid,
main .main__product-info .left-column .voucher .input-row input:valid {
    border: 1px solid black;
    color: black;
}

main .main__shop-profile .input-place .input-row input:focus ~ label,
main .main__shop-profile .input-place .input-row input:valid ~ label,
main .main__product-profile .input-place .input-row input:focus ~ label,
main .main__product-info .left-column .voucher .input-row input:focus ~ label,
main .main__product-profile .input-place .input-row input:valid ~ label,
main .main__product-info .left-column .voucher .input-row input:valid ~ label {
    transform: translateY(-20px);
    font-size: 16px;
    background-color: white;
    padding: 0 5px;
    color: #6c7293;
}


main .main__shop-profile .button-place,
main .main__product-info .left-column .voucher .button-place,
main .main__product-profile .button-place {
    width: 70%;
    margin-left: 20px;
    text-align: left;
}

main .main__shop-profile .button-place button,
main .main__product-info .left-column .voucher .button-place button,
main .main__product-profile .button-place button {
    padding: 10px;
    background-color: #54b435;
    font-weight: bold;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    transition: all 0.3s ease-in-out;
    color: black;
    cursor: pointer;
}

main .main__shop-profile .button-place button:hover,
main .main__product-info .left-column .voucher .button-place button:hover,
main .main__product-profile .button-place button:hover {
    background-color: #82cd47;
}

main .product-place {
    width: 90%;
    margin: 30px auto;
    background-color: white;
    color: black;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
}

main .product-place table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

main .product-place table td {
    padding: 18px 0;
    text-align: justify;
    font-weight: 0;
    word-wrap: break-all;
}

main .product-place table thead td {
    font-size: 20px;
    font-weight: bold;
}

main .product-place table td:first-child {
    width: 200px;
}

main .product-place table td:nth-child(2) {
    width: 400px;
}

main .product-place table td:nth-child(3),
main .product-place table td:nth-child(4),
main .product-place table td:nth-child(5) {
    width: 200px;
}

main .product-place table thead {
    border-bottom: 1px solid #6c72937f;
    color: black;
}
main .product-place table thead tr {
    position: sticky;
    top: 0;
    background-color: white;
    text-align: justify;
    font-size: 20px;
}

main .product-place table tbody tr:not(:last-child) {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #6c72937f;
    padding: 5px 0;
}

main .product-place table tbody tr td {
    font-size: 16px;
    padding: 18px 0;
    text-align: justify;
}

main .feedback-place table tbody tr td textarea:focus,
main .product-place table tbody tr td textarea:focus {
    border: 1px solid silver;
}

main .feedback-place table tbody tr td .text-place {
    width: 80%;
}

main .product-place .table-section {
    overflow: auto;
    height: 300px;
}

main .product-place table td {
    padding: 18px 0;
    text-align: justify;
    font-weight: 0;
    word-wrap: break-all;
    font-size: 14px;
}

main .product-place table tbody tr td .icon {
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
}

main .product-place table tbody tr td .icon:hover {
    color: silver;
}

main .product-place table tbody tr td textarea {
    background-color: #12151e;
    outline: none;
    border: 1px solid #6c7293;
    color: silver;
    padding: 10px 8px;
    width: 80%;
}

main #popup-product {
    width: 60%;
    background-color: white;
    margin: 0 auto;
    height: 80vh;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    border: 1px solid silver;
    display: none;
    padding: 20px 30px;
    padding-top: 60px;
}

main #popup-product.show {
    display: flex;
    justify-content: space-between;
}

main #popup-product #close {
    position: absolute;
    top: 0px;
    right: 20px;
    color: black;
    font-size: 50px;
    cursor: pointer;
}

main #popup-product #close:hover {
    color: silver;
}

main #popup-product .content::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

main #popup-product .content::-webkit-scrollbar-thumb {
    background-color: black;
}

main #popup-product img {
    width: 100%;
    max-height: 80%;
}

main #popup-product .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding-right: 50px;
    overflow-y: scroll;
    height: 80%;
}

main #popup-product .content select{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    outline: none;
    font-size: 17px;
    border: 1px solid #6c7293;
    color: black;
}

main #popup-product .content div {
    width: 100%;
    font-weight: bold;
}

main #popup-product .content input {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    padding: 15px;
    outline: none;
    font-size: 17px;
    border: 1px solid #6c7293;
    color: black;
}

main #popup-product .content input:focus {
    border: 1px solid black;
}

main #popup-product .content textarea {
    outline: none;
    width: 100%;
    border: 1px solid #6c7293;
    color: silver;
    padding: 10px 8px;
    margin-top: 10px;
}

main #popup-product .content textarea:focus {
    border: 1px solid black;
}

main #popup-product .content button {
    padding: 15px;
    color: black;
    letter-spacing: 1px;
    background-color: #54b435;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

main #popup-product .content button:hover {
    background-color: #82cd47;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.45);
}



@media screen and (max-width: 767px) {
    .logo .menu-icon {
        color: black;
        font-size: 20px;
        margin-right: 14px;
        cursor: pointer;
    }
    .logo .logo-name {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    span.logo-name {
        color: black;
        font-size: 16px;
    }

    nav .user-info {
        float: right;
        padding-right: 5px;
        text-align: center;
        font-size: 14px;
    }

    nav .user-info img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .list .nav-link {
        font-size: 14px;
    }
    .lists .nav-link:hover {
        background-color: #76a463;
    }
    .nav-link .icon {
        margin-right: 14px;
        font-size: 20px;
        color: black;
    }
    .nav-link .link {
        font-size: 14px;
        color: black;
        font-weight: 400;
    }

    main h1 {
        font-size: 24px;
    }

    main .main__shop-info,
    main .main__product-info {
        width: 100%;
        margin: 50px auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    main .main__picture-profile {
        width: 90%;
        margin: 0 auto;
    }

    main .main__picture-profile .image-place {
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }

    main .main__picture-profile .image-place img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    main .main__picture-profile .button {
        margin: 30px auto;
        width: 50%;
    }

    main .main__picture-profile .button input {
        display: none;
    }

    main .main__picture-profile .button label {
        display: block;
        color: black;
        letter-spacing: 1px;
        background-color: #54b435;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        font-weight: bold;
        cursor: pointer;
        width: 150px;
    }

    main .main__shop-profile {
        width: 90%;
        margin: 30px auto;
    }

    main .main__product-profile {
        margin: 30px auto;
        width: 90%;
        background-color: white;
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
    }

    main .main__shop-profile .input-place,
    main .main__product-profile .input-place {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main .main__shop-profile .input-place .input-row,
    main .main__product-profile .input-place .input-row {
        position: relative;
        margin: 20px;
        width: 80%;
    }

    main .main__shop-profile .input-place input,
    main .main__product-profile .input-place input {
        width: 100%;
        height: 40px;
        padding: 15px;
        outline: none;
        font-size: 17px;
        border: 1px solid #6c7293;
        color: black;
    }

    main .main__product-profile .input-place textarea {
        outline: none;
        border: 1px solid #6c7293;
        color: black;
        padding: 10px 8px;
        font-size: 16px;
    }

    main .main__product-profile .input-place textarea:focus {
        border: 1px solid black;
    }

    main .main__shop-profile .input-place label,
    main .main__product-profile .input-place label {
        position: absolute;
        bottom: 10px;
        left: 8px;
        color: black;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    main .main__shop-profile .button-place,
    main .main__product-profile .button-place {
        width: 40%;
        margin: 0 auto;
    }

    main .main__shop-profile .button-place button,
    main .main__product-profile .button-place button {
        width: 100%;
    }

    main .main__shop-profile .button-place button:hover,
    main .main__product-profile .button-place button:hover {
        background-color: #82cd47;
    }

    main .product-place {
        width: 90%;
        text-align: center;
        padding: 0 10px;
    }

    main .product-place table {
        width: 100%;
    }

    main .product-place table thead tr {
        font-size: 14px;
    }

    main #popup-product {
        width: 90%;
    }

    main #popup-product img {
        height: 150px;
        width: 90%;
    }

    main #popup-product .content {
        height: 70%;
    }
}
