<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BirdPee</servlet-name>
        <servlet-class>com.team1.BirdPee.Controller.BirdPee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTP</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOTP</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.CheckOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLogin</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.GoogleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProfile</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SaveProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopSort</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.ShopSort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSort</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.ProductSort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendIDToProductDetail</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SendIDToProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.Success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityCart</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.UpdateQuantityCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseDelivery</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.ChooseDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSort</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.OrderSort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOrderMail</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SendOrderMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChosenAddress</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.ChosenAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddress</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.AddAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPay</servlet-name>
        <servlet-class>com.team1.BirdPee.VNPay.VNPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAddress</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.EditAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddress</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.DeleteAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOOderSearch</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOOderSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOOrderProgress</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOOrderProgress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOUpdateProduct</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOCreateProduct</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOCreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOProfileUpdate</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOFindCustomer</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOFindCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedback</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SendFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOReplyFeedback</servlet-name>
        <servlet-class>com.team1.BirdPee.Servlet.SOReplyFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BirdPee</servlet-name>
        <url-pattern>/BirdPee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTP</servlet-name>
        <url-pattern>/SendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOTP</servlet-name>
        <url-pattern>/CheckOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLogin</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProfile</servlet-name>
        <url-pattern>/SaveProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/Signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopSort</servlet-name>
        <url-pattern>/ShopSort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSort</servlet-name>
        <url-pattern>/ProductSort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendIDToProductDetail</servlet-name>
        <url-pattern>/SendIDToProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/DeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityCart</servlet-name>
        <url-pattern>/UpdateQuantityCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseDelivery</servlet-name>
        <url-pattern>/ChooseDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSort</servlet-name>
        <url-pattern>/OrderSort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOrderMail</servlet-name>
        <url-pattern>/SendOrderMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChosenAddress</servlet-name>
        <url-pattern>/ChosenAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddress</servlet-name>
        <url-pattern>/AddAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPay</servlet-name>
        <url-pattern>/VNPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAddress</servlet-name>
        <url-pattern>/EditAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddress</servlet-name>
        <url-pattern>/DeleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOOderSearch</servlet-name>
        <url-pattern>/SOOderSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOOrderProgress</servlet-name>
        <url-pattern>/SOOrderProgress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOUpdateProduct</servlet-name>
        <url-pattern>/SOUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOCreateProduct</servlet-name>
        <url-pattern>/SOCreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOProfileUpdate</servlet-name>
        <url-pattern>/SOProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOFindCustomer</servlet-name>
        <url-pattern>/SOFindCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedback</servlet-name>
        <url-pattern>/SendFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOReplyFeedback</servlet-name>
        <url-pattern>/SOReplyFeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
